body {
  background: rgb(108, 192, 231);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

.formtcontar{
  display: flex;
  flex-direction: column;
  gap: 0.87rem;
  margin-bottom: 1rem;
}

.contador {
  display: block;
  width: 4rem;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 14px;
}